body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.nav-link {
  margin: 25px;
  text-decoration: none;
  color: white;
  font-weight: 100;
}

.nav-link:hover {
  color: silver;
}

.page {
  border: 1px solid green;
}

.sub-nav {
  border: 1ps solid blue;
}

.comp {
  display: flex;
  justify-content: center;  align-items: center;
  margin: 20px;
}

.sub-list {
  border: 1px solid green;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.sub-list-items {
  margin: 10px;
  padding: 10px;
  border: 1px solid red;
}